{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="style"}
<link rel="stylesheet" href="{__STATIC__}/layui/plugin/dtree/dtree.css">
<link rel="stylesheet" href="{__STATIC__}/layui/plugin/dtree/font/dtreefont.css">
{/block}
{block name="breadcrumb"}
<span class="layui-breadcrumb">
  <a href="https://www.gougucms.com/" target="_blank">勾股DEV</a>
  <a><cite>需求中心</cite></a>
</span>
{/block}
{block name="body"}
<div class="table-content p-3">
	<div class="layui-form-bar border-t border-x">
		<button class="layui-btn layui-btn-sm add-new">+ 新建需求</button>
	</div>
	<table class="layui-hide" id="test" lay-filter="test"></table>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
function init(layui){
	var table = layui.table,form = layui.form,gougu = layui.gougu;
	
	layui.pageTable = table.render({
		elem: '#test',
		title: '需求列表',
		cellMinWidth:200,
		page: true, //开启分页
		limit: 20,
		url: "/requirements/index/index", //数据接口
		cols:  [[
			{field:'id', title: '需求编号',width: 80, align:'center',fixed:'left',rowspan: 2,templet:function(d){
				return 'R'+d.id;
			}}
			,{field:'flow_name',title: '状态',align:'center',width: 80,rowspan: 2,templet:function(d){
				var html = '<span class="layui-badge layui-bg-'+d.flow_status+'">'+d.flow_name+'</span>';
				return html;
			}}
			,{field:'title',title: '需求主题',rowspan: 2,templet:function(d){
				var html = '<span class="layui-badge bg-priority-'+d.priority+'">'+d.priority_name+'</span> <a class="open-a" data-url="/requirements/index/view/id/'+d.id+'">'+d.title+'</a>';
				return html;
			}}
			,{field:'director_name',title: '负责人', align:'center',width: 90,rowspan: 2}
			,{field:'plan_time',title: '需求周期', align:'center',width: 180,rowspan: 2}				
			,{align: 'center', title: '关联任务', colspan: 3}
			,{align: 'center', title: '关联BUG', colspan: 3}
		], [
			{field:'tasks_a',align:'center', style:'color: #91CC75;', width:80,'title':'进行中'}
			,{field:'tasks_b',align:'center', style:'color: #FAC858;', width:80,'title':'已完成'}
			,{field:'tasks_c',align:'center', style:'color: #EE6666;', width:80,'title':'完成率'}
			,{field:'bugs_a',align:'center', style:'color: #91CC75;', width:80,'title':'进行中'}
			,{field:'bugs_b',align:'center', style:'color: #FAC858;', width:80,'title':'已完成'}
			,{field:'bugs_c',align:'center', style:'color: #EE6666;', width:80,'title':'修复率'}
		]]
	});
	
	$('.add-new').on('click',function(){
		gougu.open('/requirements/index/add');
	});
}		
</script>
{include file="../../base/view/common/layui" base='base' extend="['gougu','employeepicker','gouguEdit','gouguComment']" callback="init" /}
{/block}
<!-- /脚本 -->