<div class="page-content">
	<div class="p-4 border-b">
	<h3 class="h3-title hover-edit">
	<span class="layui-btn layui-btn-xs layui-status-{$detail.status}">{$detail.status_name}</span>
	<span id="title_{$detail.id}" data-val="">{$detail.title}</span><i class="iconfont icon-wodedianping" title="编辑" data-id="{$detail.id}" data-name="title"></i>
	</h3>
	<div><span class="layui-badge layui-bg-gray">#I4X2ZV</span><span class="mx-2">{$detail.admin_name}</span><span class="font-gray">创建于{:time_trans($detail.create_time)}<span  id="editTips">{gt name="$detail.update_time" value="0"}，最近更新于 {:time_trans($detail.update_time)}{/gt}</span></span></div>
	</div>
	<div class="layui-row border-b">
		<div class="layui-col-md9 p-4 border-r">
			<table class="layui-table layui-table-form">
				<tr>
					<td class="layui-td-gray">负责人</td>
					<td class="hover-edit"><span id="director_uid_{$detail.id}" data-val="{$detail.director_uid}">{$detail.director_name}</span><i class="iconfont icon-wodedianping" title="编辑" data-id="{$detail.id}" data-name="director_uid"></i></td>
					<td class="layui-td-gray">需求状态</td>
					<td class="hover-edit"><span class="span-color-{$detail.flow_status}" id="flow_status_{$detail.id}" data-val="{$detail.flow_status}">{$detail.flow_name}</span><i class="iconfont icon-wodedianping" title="编辑" data-id="{$detail.id}" data-name="flow_status"></i></td>
				</tr>
				<tr>
					<td class="layui-td-gray">开始日期</td>
					<td class="hover-edit"><span id="start_time_{$detail.id}" data-val="">{$detail.start_time| date='Y-m-d'}</span><i class="iconfont icon-wodedianping" title="编辑" data-id="{$detail.id}" data-name="start_time"></i></td>
					<td class="layui-td-gray2">计划完成日期</td>
					<td  class="hover-edit"><span id="end_time_{$detail.id}" data-val="">{$detail.end_time| date='Y-m-d'}</span><i class="iconfont icon-wodedianping" title="编辑" data-id="{$detail.id}" data-name="end_time"></i></td>
				</tr>
			</table>
			<div class="md-content hover-edit">
				<h5 class="py-4">需求描述<i class="iconfont icon-wodedianping" title="编辑" data-id="{$detail.id}" data-name="md_content"></i></h5>
				<div id="md_content_{$detail.id}" data-val="{$detail.md_content}">{$detail.content|raw}</div>
			</div>
		</div>
		<div class="layui-col-md3 p-4">
			<h5 class="pb-4">关联信息</h5>
			<div class="pb-4 hover-edit">
				<span class="font-gray">关联产品：</span>
				<span id="product_id_{$detail.id}" data-val="{$detail.product_id}">
				{gt name="$detail.product_id" value="0"}{$detail.product_name}{else/}<span class="font-gray">未设置</span>{/gt}
				</span>
				<i class="iconfont icon-wodedianping" title="编辑" data-id="{$detail.id}" data-name="product_id"></i>
			</div>
			<div class="pb-4 hover-edit">
				<span class="font-gray">关联项目：</span>
				<span id="project_id_{$detail.id}" data-val="{$detail.project_id}">
					{gt name="$detail.project_id" value="0"}{$detail.project_name}{else/}<span class="font-gray">未设置</span>{/gt}
				</span>
				<i class="iconfont icon-wodedianping" title="编辑" data-id="{$detail.id}" data-name="project_id"></i>
			</div>
			<div class="pb-4"><span class="font-gray">关联任务：</span>135</div>
			<div class="pb-4"><span class="font-gray">关联BUG：</span>56</div>
		</div>
	</div>
	<div class="layui-tab layui-tab-brief px-4" lay-filter="docDemoTabBrief">
		<ul class="layui-tab-title">
			<li class="layui-this">员工评论(0)</li>
			<li>操作日志(0)</li>
		</ul>
		<div class="layui-tab-content p-0">
			<div class="layui-tab-item comment-list layui-show">
				<div id="comment_9129378" class="comment-item py-3 border-b">
					<div class="comment-avatar" title="码云演示账号">
						<img class="comment-image" src="https://portrait.gitee.com/uploads/avatars/user/478/1434636_dakeche_admin_1578951393.png!avatar100">
					</div>
					<div class="comment-body">
						<div class="comment-meta">
							<strong class="comment-name">码云演示账号</strong><span class="ml-2 font-gray" title="2022/3/10下午2:23:22">36 分钟前</span>
						</div>
						<div class="comment-content py-2">
							<p>测试哦</p>
						</div>
						<div class="comment-actions">
							<a class="mr-4 text-muted">回复</a><a class="mr-4 text-muted">编辑</a><a class="mr-4 text-muted">删除</a>
						</div>
					</div>
				</div>
				<div id="comment_9130512" class="comment-item py-3 border-b">
					<div class="comment-avatar" title="码云演示账号">
						<img class="comment-image" src="https://portrait.gitee.com/uploads/avatars/user/478/1434636_dakeche_admin_1578951393.png!avatar100">
					</div>
					<div class="comment-body">
						<div class="comment-meta">
							<strong class="comment-name">码云演示账号</strong><span class="ml-2 font-gray" title="2022/3/10下午2:53:59">6 分钟前</span>
						</div>
						<div class="comment-content py-2">
							<blockquote>
							<p>898989</p>
							</blockquote>
							<p><span>@码云演示账号</span></p>
						</div>
						<div class="comment-actions">
							<a class="mr-4">回复</a><a class="mr-4">编辑</a><a class="mr-4">删除</a>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-tab-item logs-list">
				<div class="log-item py-3 border-b">
					<i class="iconfont icon-wodedianping"></i>
					<span class="log-name">码云演示账号</span>
					<span class="log-content font-gray"> 将<b>任务状态</b>从 待办的 修改为<b>进行中</b><span class="font-gray" title="2022/3/10下午2:01:44">2 小时前</span></span>
				</div>
			
			<div class="log-item py-3 border-b">
				<i class="iconfont icon-kaoshijihua"></i>
				<span class="ge-user-name">码云演示账号</span>
				<span class="log-content font-gray">移除了<b>enhancement</b><b>标签</b><span class="font-gray" title="2022/3/10上午10:24:26">6 小时前</span></span>
			</div>
			
			<div class="log-item py-3 border-b">
				<i class="iconfont icon-zidingyishezhi"></i>
				<span class="log-name">码云演示账号</span>
				<span class="log-content font-gray"><span class="content link-dark"> 将<b>任务状态</b>从 进行中 修改为<b>待办的</b></span><span class="font-gray" title="2022/3/4上午9:31:27">6 天前</span></span>
			</div>
		</div>
	</div>   
</div>

<script>
	function pageInit() {
		const layer = layui.layer,
			edit = layui.gouguEdit,
			gougu = layui.gougu;
		
		$('.hover-edit').hover(function(){
			$(this).addClass('hover-on');
		},function(){
			$(this).removeClass('hover-on');
		})
		
		$('.hover-edit').on('click','i',function(){
			let id=$(this).data('id');
			let name=$(this).data('name');
			let show_txt=$('#'+name+'_'+id).html().replace(/[\r\n\t]/g,"");
			let real_txt=$('#'+name+'_'+id).data('val');
			if(real_txt == ''){
				real_txt = show_txt;
			}	
			editShow(id,name,show_txt,real_txt);
		})
		
		let loading=false;
		
		let editPost = function(id,name,show_val,real_val){
			let callback = function (e) {
				layer.msg(e.msg);
				gougu.load('/requirements/index/view/id/'+id);
				setTimeout(function(){
					layer.closeAll();
					tableIns.reload();
					$('#editTips').html('，最近更新于 5秒前');
				},1000)				
			}
			let postData={id:id};
			postData[name] = real_val;
			if(name=='md_content'){
				postData['content'] = show_val;
			}
			gougu.post("/requirements/index/add",postData,callback);
		}
		
		function editShow (id,name,show_txt,real_txt) {
			if(loading==true){
				return false;
			}
			if(name=="title"){
				edit.text(id,name,real_txt,editPost);
			}
			if(name=="start_time" || name=="end_time"){
		
				edit.date(id,name,real_txt,editPost);
			}
			if(name =="director_uid"){
				edit.employee_one(id,name,show_txt,real_txt,editPost);
			}
			if(name =="team_admin_ids"){
				edit.employee_more(id,name,show_txt,real_txt,editPost);
			}
			if(name=="product_id"){		
				loading=true;
				gougu.get("/api/index/get_product",{},function(res){
					let data = res.data;
					loading=false;
					edit.dropdown(id,name,real_txt,data,editPost);
				});				
			}
			if(name=="project_id"){
				let product_id = $('#product_id_'+id).data('val');
				if(product_id == 0){
					layer.msg('请先关联产品');
					return false;
				}
				loading=true;
				gougu.get("/api/index/get_project",{},function(res){
					let data = res.data;
					loading=false;
					edit.dropdown(id,name,real_txt,data,editPost);
				});				
			}
			if(name=="md_content"){
				edit.editor(id,name,real_txt,editPost);
			}
        }
		
	}
</script>