{extend name="../../base/view/common/base" /}
{block name="style"}
<link rel="stylesheet" href="{__LAYUI__}/plugin/dtree/dtree.css">
<link rel="stylesheet" href="{__LAYUI__}/plugin/dtree/font/dtreefont.css">
{/block}
{block name="breadcrumb"}
<span class="layui-breadcrumb">
  <a href="https://www.gougucms.com/" target="_blank">勾股DEV</a>
  <a href="/home/index">工作台</a>
  <a><cite>发件箱</cite></a>
</span>
{/block}
<!-- 主体 -->
{block name="body"}
<div class="main-content">
	{include file="../../base/view/common/msgmenu" /}
	<div class="main-page-content">
		<form class="layui-form layui-form-bar">
			<div class="layui-inline" style="width:240px">
				<input type="text" name="keywords" placeholder="关键字" class="layui-input" autocomplete="off"/>
			</div>
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">提交搜索</button>
		</form> 
		<table class="layui-hide" id="sendbox" lay-filter="sendbox"></table>
	</div>
</div>

<script type="text/html" id="mail_type">
	<span class="layui-type{{d.mail_type}}">{{d.mail_type_title}}</span>
</script>
<script type="text/html" id="is_read">
	<span class="layui-type{{d.is_read}}">{{d.is_read_title}}</span>
</script>

<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe61f;</i>新建消息</button>
		<button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon">&#xe640;</i>批量删除</button>
	</div>
</script>

<script type="text/html" id="barDemo">
<div class="layui-btn-group"><span class="layui-btn layui-btn-xs layui-btn-warm" lay-event="resend">转发</span><button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button></div>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','employeepicker'];
	function gouguInit() {
		var table = layui.table,form = layui.form,tool = layui.tool;

		layui.pageTable = table.render({
			elem: '#sendbox',
			toolbar: '#toolbarDemo',
			title:'发件箱',
			url: "/home/message/sendbox", //数据接口
			page: true ,//开启分页
			limit: 20,
			cellMinWidth: 200, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
			cols: [[ //表头
			  {type:'checkbox',fixed:'left'},
			  {field: 'type_title', title: '接收人类型',width:100,align:'center'},
			  {field: 'title', title: '消息主题',templet:function(d){
				var html = '<a class="open-a" data-url="/home/message/read/id/'+d.id+'">'+d.title+'</a>';
				return html;
			}},
			  {field: 'send_time', title: '发件时间', align:'center',width:160},
			  {field: 'files', title: '附件(个)',align:'center', width:80},
			  {field: 'right', title: '操作',fixed:'right', toolbar: '#barDemo', width:100, align:'center'}
			]]
		});

		  
		//搜索提交
		form.on('submit(webform)', function(data){
			let f=data.field;
			layui.pageTable.reload({where:{keywords:f.keywords},page:{curr:1}});
			return false;
		});
		
		//行工具事件
		table.on('tool(sendbox)', function(obj){
			var data = obj.data;
			if(obj.event === 'del'){
				layer.confirm('确定该信息要放入垃圾箱吗?', {icon: 3, title:'提示'}, function(index){
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layui.pageTable.reload();
						}
					}
					tool.post("/home/message/check",{
						ids: data.id,
						type:2,
						source:1
					},callback);
					layer.close(index);
				})
			}
			if(obj.event === 'resend'){
				tool.open('/home/message/reply?id='+data.id+'&type=2');
				return;
			}
		});
		  
		//表头工具栏事件
		table.on('toolbar(sendbox)', function(obj){
			var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
			var data = checkStatus.data; 
			if (obj.event === 'add') {
				tool.open("/home/message/add");
				return;
			}
			if(data.length==0){
				layer.msg('请选择要操作的消息');
				return false;
			}
			var idArray=[],msg='是否执行该操作？',type=0;
			for(var i=0;i<data.length;i++){
				idArray.push(data[i].id);
			}
			if (obj.event === 'del') {
				msg = '确定把选中的信息要放入垃圾箱吗?';
				type = 2;
			}			
			layer.confirm(msg, {
				icon: 3,
				title: '提示'
			}, function (index) {
				let callback = function (e) {
					layer.msg(e.msg);
					if (e.code == 0) {
						layui.pageTable.reload();
					}
				}
				tool.post("/home/message/check",{
					ids: idArray.join(','),
					type:type,
					source:1
				},callback);
				layer.close(index);
			});
		});
	}
		
</script>
{/block}
<!-- /脚本 -->