{extend name="../../base/view/common/base" /}
{block name="style"}
<link rel="stylesheet" href="{__STATIC__}/layui/plugin/dtree/dtree.css">
<link rel="stylesheet" href="{__STATIC__}/layui/plugin/dtree/font/dtreefont.css">
<link rel="stylesheet" href="{__STATIC__}/mdeditor/css/editormd.min.css">
<style>
.layui-card-body dl{width: 50%; float:left; display: block;}
.layui-card-tips{; color:#999;}
.layui-card-value{padding:4px 0 16px; font-size: 20px; color:#1E9FFF;}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<div class="main-content">
	{include file="/index/submenu" /}
	<div id="pageBox" class="main-page-content p-3" style="background-color:#F5F8FA">
		<h4 class="pb-3">项目概览</h4>
		<div class="layui-row layui-col-space12">
			<div class="layui-col-xs12">
				<div class="layui-card">
					<div class="layui-card-header"><h5>{$detail.name}</h5></div>
					<div class="layui-card-body">
						<p class="py-1"><span class="font-gray">项目编号：</span>M{$detail.id}<span class="font-gray" style="margin-left:36px">创建人：</span>{$detail.admin_name}<span class="font-gray"  style="margin-left:36px">负责人：</span>{$detail.director_name}<span class="font-gray" style="margin-left:36px">计划完成周期：</span>{$detail.start_time| date='Y-m-d'} &nbsp;&nbsp;至&nbsp;&nbsp; <span>{$detail.end_time| date='Y-m-d'}<span class="font-gray" style="margin-left:36px">项目状态：</span><span class="color-status-{$detail.status}">{$detail.status_name}</span></p>
						<p class="py-1"><span class="font-gray">项目成员：</span>{$detail.team_admin_names}</p>
						<p class="py-1"><span class="font-gray">项目简介：</span>{$detail.content}</p>
					</div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header"><h5>项目概况</h5></div>
					<div class="layui-card-body">
						<div style="width:100%; height:200px;">
							<dl>
								<dt class="layui-card-tips">项目需求</dt>
								<dd class="layui-card-value">{$detail.requirementfixeds} / {$detail.requirements}</dd>
							</dl>
							<dl>
								<dt class="layui-card-tips">项目任务</dt>
								<dd class="layui-card-value">{$detail.taskfixeds} / {$detail.tasks}</dd>
							</dl>
							<dl>
								<dt class="layui-card-tips">项目问题</dt>
								<dd class="layui-card-value">{$detail.bugfixeds} / {$detail.bugs}</dd>
							</dl>
							<dl>
								<dt class="layui-card-tips">任务工时</dt>
								<dd class="layui-card-value">{$detail.hours} / {$detail.plan_hours}</dd>
							</dl>
							<dl>
								<dt class="layui-card-tips">工作记录</dt>
								<dd class="layui-card-value">{$detail.schedules}</dd>
							</dl>
							<dl>
								<dt class="layui-card-tips">项目文档</dt>
								<dd class="layui-card-value">{$detail.documents}</dd>
							</dl>
						</div>						
					</div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-md4">
				<div class="layui-card">
					<div class="layui-card-header"><h5>项目进度</h5></div>
					<div class="layui-card-body">
						<div id="pie" style="width:100%; height:200px;"></div>
					</div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-md5">
				<div class="layui-card">
					<div class="layui-card-header"><h5>项目缺陷</h5></div>
					<div class="layui-card-body">
						<div id="rose" style="width:100%; height:200px;"></div>
					</div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header"><h5>项目燃尽图</h5></div>
					<div class="layui-card-body">
						<div id="cross" style="width:100%; height:360px;"></div>
					</div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-header"><h5>任务分配情况</h5></div>
					<div class="layui-card-body">
						<div id="plan" style="width:100%; height:150px;"></div>
					</div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-md6">
				<div class="layui-card">
					<div class="layui-card-header"><h5>工时登记情况</h5></div>
					<div class="layui-card-body">
						<div id="work" style="width:100%; height:150px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/html" id="status">
	<i class="layui-icon {{#  if(d.status == 1){ }}layui-icon-ok{{#  } else { }}layui-icon-close{{#  } }}"></i>
</script>
<script type="text/html" id="barDemo">
<div class="layui-btn-group"><span class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">查看</span><span class="layui-btn layui-btn-xs" lay-event="edit">编辑</span><span class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</span></div>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script src="https://cdn.staticfile.org/echarts/5.3.0/echarts.min.js"></script>
<script src="{__STATIC__}/mdeditor/editormd.min.js"></script>
<script>
var project_id = '{$detail.id}';
var chartPie = document.getElementById('pie');
var pieChart = echarts.init(chartPie);
var optionA;

optionA = {
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left'
  },
  series: [
    {
      name: '工时',
      type: 'pie',
      radius: ['60%', '80%'],
	  center: ['60%', '50%'],
      avoidLabelOverlap: false,
      label: {
        show: false,
        position: 'center'
      },
      emphasis: {
        label: {
          show: true,
          fontSize: '20',
          fontWeight: 'bold'
        }
      },
      data: [
        { value: 1048, name: 'TODO' },
        { value: 735, name: 'DOING' },
        { value: 580, name: 'DONGE' },
        { value: 484, name: 'CLOSE' }
      ]
    }
  ]
};


var chartRose = document.getElementById('rose');
var roseChart = echarts.init(chartRose);
var optionB;

optionB = {
  legend: {
    orient: 'vertical',
    left: 'left'
  },
  tooltip: {
    trigger: 'item',
    formatter: '{a} <br/>{b} : {c} ({d}%)'
  },
  series: [
    {
      name: 'Bugfixed',
      type: 'pie',
      radius: ['20%', '80%'],
      center: ['60%', '50%'],
      roseType: 'area',
      itemStyle: {
        borderRadius: 8
      },
      data: [
        { value: 40, name: '待解决'},
        { value: 38, name: '进行中' },
        { value: 32, name: '已解决' },
        { value: 30, name: '暂缓' },
        { value: 28, name: '不解决' },
        { value: 26, name: '已关闭' }
      ]
    }
  ]
};


var chartCross = document.getElementById('cross');
var crossChart = echarts.init(chartCross);
var optionC;

optionC = {
  title: {
    text: ''
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'cross',
      label: {
        backgroundColor: '#6a7985'
      }
    }
  },
  legend: {
    data: ['计划线', '实际线']
  },
  grid: {
    left: '8px',
    right: '8px',
    bottom: '4px',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      boundaryGap: false,
	   splitLine: {
		  show:true,
		  lineStyle: {
			type: 'dashed'
		  }
		},
      data: ['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05', '2022-03-06', '2022-03-07']
    }
  ],
  yAxis: [
    {
	 axisLine: {
        show: true
      },
	  splitLine: {
		  lineStyle: {
			type: 'dashed'
		  }
		},
      type: 'value'
    }
  ],
  series: [
    {
      name: '计划线',
      type: 'line',
      stack: 'Total',
      areaStyle: {},
      emphasis: {
        focus: 'series'
      },
      data: [70, 60, 50, 40, 30, 20, 10]
    },
    {
      name: '实际线',
      type: 'line',
      stack: 'Total',
      areaStyle: {},
      emphasis: {
        focus: 'series'
      },
     data: [75, 65, 55, 45, 35, 25, 15]
    }
  ]
};


var chartPlan = document.getElementById('plan');
var planChart = echarts.init(chartPlan);
var optionD;

optionD = {
	title: {
		top: 0,
		left: 0,
		text: ''
	},
	tooltip: {
		padding: 6,
		formatter: function (obj) {
			var value = obj.value;
			var tips='<div style="font-size: 12px;">' + value[0] + '<br>';
				tips+='共 '+value[1] + ' 个工作任务';
			tips+='</div>';
			return tips;
		}
	},
	visualMap: {
		min: 0,
		max: 10,
		show: false,
		inRange: {
			color: ['#fafafa','#20BF3F']
		}
	},
	calendar: {
		top: 24,
		left: 36,
		right: 4,
		cellSize: ['auto', 16],
		range: ['2022-03-01','2022-08-01'],
		splitLine: {
			lineStyle: {
				color: '#333',
				type: 'dashed',
			}
		},
		itemStyle: {
			borderWidth: 0.5
		},
		yearLabel: {show: false},
		monthLabel: {
			nameMap: 'cn',
			fontSize: 12
		},
		dayLabel: {
			show: true,
			formatter: '{start}  1st',
			fontWeight: 'lighter',
			nameMap: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
			fontSize: 12
		}
	},
	series: {
		type: 'heatmap',
		coordinateSystem: 'calendar',
		data: []
	}
};


var chartWork = document.getElementById('work');
var workChart = echarts.init(chartWork);
var optionE;

optionE = {
	title: {
		top: 0,
		left: 0,
		text: ''
	},
	tooltip: {
		padding: 6,
		formatter: function (obj) {
			var value = obj.value;
			var tips='<div style="font-size: 12px;">' + value[0] + '<br>';
				tips+='共 '+value[1] + ' 个工时';
			tips+='</div>';
			return tips;
		}
	},
	visualMap: {
		min: 0,
		max: 10,
		show: false,
		inRange: {
			color: ['#fafafa','#359AEF']
		}
	},
	calendar: {
		top: 24,
		left: 36,
		right: 4,
		cellSize: ['auto', 16],
		range: ['2022-03-01','2022-08-01'],
		splitLine: {
			lineStyle: {
				color: '#333',
				type: 'dashed',
			}
		},
		itemStyle: {
			borderWidth: 0.5
		},
		yearLabel: {show: false},
		monthLabel: {
			nameMap: 'cn',
			fontSize: 12
		},
		dayLabel: {
			show: true,
			formatter: '{start}  1st',
			fontWeight: 'lighter',
			nameMap: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
			fontSize: 12
		}
	},
	series: {
		type: 'heatmap',
		coordinateSystem: 'calendar',
		data: []
	}
};


function getCalendarData(arr) {	
	var rangeArray = [];
    for (var property in arr){
		rangeArray.push(property);
	}
	var rangeArray = [rangeArray[0],rangeArray[rangeArray.length-1]];
	var start = +echarts.number.parseDate(rangeArray[0]);
	var end = +echarts.number.parseDate(rangeArray[1]);
	if(start+7776000000>end){
		end = start+8640000000;
		rangeArray[1] = echarts.format.formatTime('yyyy-MM-dd', end);
	}
	var dayTime = 3600 * 24 * 1000;
	var data = [];
	for (var time = start; time < end; time += dayTime) {
		var this_date = echarts.format.formatTime('yyyy-MM-dd', time);
		if(arr[this_date]){
			data.push([this_date,arr[this_date]]);
		}else{
			data.push([this_date,0]);
		}
	}
	var res={'range':rangeArray,'data':data};
	return res;
}

//燃尽图统计
function cross_count(arr,arr2){
	var rangeArray = [];
    for (var property in arr){
		rangeArray.push(property);
	}
	var rangeArray = [rangeArray[0],rangeArray[rangeArray.length-1]];
	var start = +echarts.number.parseDate(rangeArray[0]);
	var end = +echarts.number.parseDate(rangeArray[1]);
	var dayTime = 3600 * 24 * 1000;
	var xArray=[],yArray=[],yArray2=[],done=0,doneArray=[];
	for (var time = start; time <= end; time += dayTime) {
		var this_date = echarts.format.formatTime('yyyy-MM-dd', time);
		xArray.push(this_date);
		var plan = cross_recursion(time,end,arr);
		yArray.push(plan);
		
		if(arr2[this_date]){
			done+=arr2[this_date];	
		}
		doneArray.push(done);
	}
	for(var i=0;i<doneArray.length;i++){
		yArray2.push(yArray[0] - doneArray[i]);
	}	
	return {'x':xArray,'y':yArray,'y2':yArray2};
}

function cross_recursion(start,end,arr){
	var count = 0;
	var dayTime = 3600 * 24 * 1000;
	for (var time = start; time <= end; time += dayTime) {
		var this_date = echarts.format.formatTime('yyyy-MM-dd', time);
		if(arr[this_date]){
			count+=arr[this_date];
		}		
	}
	return count;
}
	
function init(layui) {
	var gougu = layui.gougu;

	$('#subMenu').on('click','[data-event="subpage"]',function(){
		let page = $(this).data('page');
		$('#subMenu').find('li').removeClass('active');
		$(this).addClass('active');
		gougu.page(page);
	})
	optionA && pieChart.setOption(optionA);
	optionB && roseChart.setOption(optionB);
	let callback=function(res){	
		if(res.data.date_tasks instanceof Array == false){
			var dataC = cross_count(res.data.date_tasks,res.data.date_tasks_ok);
			optionC.xAxis.data = dataC.x;
			optionC.xAxis.boundaryGap = true,
			optionC.xAxis.axisLabel = {rotate: 30,interval: 0};
			optionC.series = [
				{
				  name: '计划剩余',
				  type: 'line',
				  areaStyle: {},
				  data: dataC.y
				},
				{
				  name: '实际剩余',
				  type: 'line',
				  areaStyle: {},
				  data: dataC.y2
				}
			]
			optionC && crossChart.setOption(optionC)
		
			var dataD = getCalendarData(res.data.date_tasks);
			optionD.calendar.range = dataD.range,
			optionD.series={
				type: 'heatmap',
				coordinateSystem: 'calendar',
				data: dataD.data
			}
			optionD && planChart.setOption(optionD);
			
			var dataE = getCalendarData(res.data.date_schedules);
			optionE.calendar.range = dataE.range,
			optionE.series={
				type: 'heatmap',
				coordinateSystem: 'calendar',
				data: dataE.data
			}
			optionE && workChart.setOption(optionE);
		}
	}
	gougu.get('/api/project/get_chart_data',{'project_id':project_id},callback);	
	
	window.onresize = function() {
		pieChart.resize();
		roseChart.resize();
		crossChart.resize();
		planChart.resize();
		workChart.resize();
	}	
}
</script>
{include file="../../base/view/common/layui" base='base' extend="['gougu','gouguEdit','gouguComment','gouguSchedule','employeepicker']" callback="init" /}
{/block}
<!-- /脚本 -->
