 a:hover{color:#3582fb}
 html,body{height:100%;}
 body.right-open{overflow:hidden;}
.h1,h1{font-size:32px; font-weight: 600;}
.h2,h2{font-size:28px; font-weight: 600;}
.h3,h3{font-size:24px; font-weight: 600;}
.h4,h4{font-size:20px; font-weight: 600;}
.h5,h5{font-size:16px; font-weight: 600;}

.m-0{margin:0}
.m-1{margin:4px}
.m-2{margin:8px}
.m-3{margin:12px}
.m-4{margin:16px}
.my-1{margin-top:4px;margin-bottom:4px}
.my-2{margin-top:8px;margin-bottom:8px}
.my-3{margin-top:12px;margin-bottom:12px}
.my-4{margin-top:16px;margin-bottom:16px}
.mx-1{margin-left:4px;margin-right:4px}
.mx-2{margin-left:8px;margin-right:8px}
.mx-3{margin-left:12px;margin-right:12px}
.mx-4{margin-left:16px;margin-right:16px}
.ml-1{margin-left:4px}
.ml-2{margin-left:8px}
.ml-3{margin-left:12px}
.ml-4{margin-left:16px}
.mt-1{margin-top:4px}
.mt-2{margin-top:8px}
.mt-3{margin-top:12px}
.mt-4{margin-top:16px}
.mr-1{margin-right:4px}
.mr-2{margin-right:8px}
.mr-3{margin-right:12px}
.mr-4{margin-right:16px}
.mb-1{margin-bottom:4px}
.mb-2{margin-bottom:8px}
.mb-3{margin-bottom:12px}
.mb-4{margin-bottom:16px}

.p-0{padding:0}
.p-1{padding:4px}
.p-2{padding:8px}
.p-3{padding:12px}
.p-4{padding:16px}
.py-1{padding-top:4px;padding-bottom:4px}
.py-2{padding-top:8px;padding-bottom:8px}
.py-3{padding-top:12px;padding-bottom:12px}
.py-4{padding-top:16px;padding-bottom:16px}
.px-1{padding-left:4px;padding-right:4px}
.px-2{padding-left:8px;padding-right:8px}
.px-3{padding-left:12px;padding-right:12px}
.px-4{padding-left:16px;padding-right:16px}
.pl-1{padding-left:4px}
.pl-2{padding-left:8px}
.pl-3{padding-left:12px}
.pl-4{padding-left:16px}
.pt-1{padding-top:4px}
.pt-2{padding-top:8px}
.pt-3{padding-top:12px}
.pt-4{padding-top:16px}
.pr-1{padding-right:4px}
.pr-2{padding-right:8px}
.pr-3{padding-right:12px}
.pr-4{padding-right:16px}
.pb-1{padding-bottom:4px}
.pb-2{padding-bottom:8px}
.pb-3{padding-bottom:12px}
.pb-4{padding-bottom:16px}

.border{border:1px solid #eee; box-sizing:border-box}
.border-y{border-top:1px solid #eee;border-bottom:1px solid #eee; box-sizing:border-box}
.border-x{border-left:1px solid #eee;border-right:1px solid #eee; box-sizing:border-box}
.border-t{border-top:1px solid #eee; box-sizing:border-box}
.border-b{border-bottom:1px solid #eee; box-sizing:border-box}
.border-l{border-left:1px solid #eee; box-sizing:border-box}
.border-r{border-right:1px solid #eee; box-sizing:border-box}

.font-black{color:#182b50}
.font-gray{color:#8c95a8}
.font-light{color:#aaaaaa}
.font-blue{color:#3582fb}
 /* 滚动条样式 */
 ::-webkit-scrollbar {
   width: 12px;
 }
 ::-webkit-scrollbar-thumb {
   background-color:rgba(0,0,0,.15);background-clip:content-box;border:1px solid transparent;border-radius:8px
 }
 
::-webkit-scrollbar-track{background-color:transparent}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.04)}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);border:1px solid transparent}
::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.65)}
  
 ::-moz-scrollbar {
   width: 8px;
   background-color: transparent;
 }
 ::-moz-scrollbar-thumb {
   background-color: #c1c1c1;
   border-radius: 8px;
 }
 
 div.layui-table-main::-webkit-scrollbar{width:15px;height:15px}
 div.layui-table-main::-webkit-scrollbar-thumb{min-width:15px;min-height:15px;background-color:rgba(0,0,0,.15);background-clip:content-box;border:2px solid transparent;border-radius:15px}
 div.layui-table-main::-webkit-scrollbar-track{background-color:transparent}
 div.layui-table-main::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.04)}
 div.layui-table-main::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);border:2px solid transparent}
 div.layui-table-main::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,.65)}
 /*placeholder*/
 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color:    #aaa;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #aaa;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #aaa;
 }
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #aaa;
 }
 /*省略行数*/
.text-overflow1{ overflow: hidden; text-overflow: ellipsis; word-break: break-all; display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.text-overflow2{ overflow: hidden; text-overflow: ellipsis; word-break: break-all; display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.text-overflow3{ overflow: hidden; text-overflow: ellipsis; word-break: break-all; display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
 .layui-card { box-shadow: 0 1px 3px 0 rgb(5 32 96 / 10%);}
 .layui-table, .layui-table-view{margin:0}
 .layui-table td,.layui-table th{padding:9px 10px;}
 .layui-table-cell{padding:0 10px;}
 .layui-table[lay-size=sm] td, .layui-table[lay-size=sm] th {padding: 5px;}
 .layui-table-body .layui-none{background-color:#fff;}
 .auth-single .auth-icon{font-size:24px; float:left;}
 .auth-single .layui-form-radio,.auth-single .layui-form-checkbox{margin-left:0;}
 .auth-single .layui-form-radio{margin-top:0;}
 .auth-single .layui-form-radio>i,.auth-single .layui-form-checkbox>i{font-size:20px;}
 .layui-select-tags{padding:10px 0;}
 .layui-tags-span{padding:5px 8px; font-size:14px; border-radius:3px; margin-bottom:6px; margin-right:6px; border:1px solid #e6e6e6; display:inline-block;cursor:pointer;}
 .layui-readonly{background-color: #f5f5f5; color:#999;}
 .layui-tags-span:hover{border:1px solid #ddd; background-color:#f2f2f2;}
 .layui-tags-span i{margin-left:5px; font-size:14px;}
 .layui-tags-span i:hover{border-radius:2px;background-color:#FF6347;color:#fff}
 .layui-letter-span{padding:10px 5px; font-size:15px; display:inline-block; cursor:pointer;}
 .layui-letter-span.on{color:#FF6347; font-weight:800;}
 .layui-letter-span:hover{color:#4285f4;}
 .layui-tags-all{float: right; font-weight: 200px; background-color:#4285f4; color:#fff; border-radius: 3px; padding: 2px 6px; cursor: pointer; display: none;}
 .layui-table-form{margin-top: 0;}
 .layui-table-form tbody tr:hover{background-color: #fff;}
 .layui-td-gray{color:#8c95a8; width:66px; text-align:right; background-color:#fafafa;}
 .layui-td-gray2{color:#8c95a8; width:90px; text-align:right; background-color:#fafafa;}
 .layui-td-gray3{color:#8c95a8; width:120px; text-align:right; background-color:#fafafa;}
 .layui-td-gray4{color:#8c95a8; width:150px; text-align:right; background-color:#fafafa;}
 .layui-td-gray font,.layui-td-gray2 font,.layui-td-gray3 font{color:#FF6347; margin-left: 3px;}
 
 .layui-laypage a, .layui-laypage span {height: 36px;line-height: 36px;font-size: 14px;}
 
 .layui-badge.layui-bg-gray{background-color:#f2f2f2!important}
 
 .bg-status-0{background-color:#FF5722 !important;}
 .bg-status-1{background-color:#009688 !important;}
 .bg-status-2{background-color:#1E9FFF !important;}
 
 .color-status-0{color:#FF5722 !important;}
 .color-status-1{color:#009688 !important;}
 .color-status-2{color:#1E9FFF !important;}
 
 .bg-priority-0{background-color:#648A8D !important;}
 .bg-priority-1{background-color:#009688 !important;}
 .bg-priority-2{background-color:#1E9FFF !important;}
 .bg-priority-3{background-color:#FFB800 !important;}
 .bg-priority-4{background-color:#FF5722 !important;}
 
 .color-priority-0{color:#648A8D !important;}
 .color-priority-1{color:#009688 !important;}
 .color-priority-2{color:#1E9FFF !important;}
 .color-priority-3{color:#FFB800 !important;}
 .color-priority-4{color:#FF5722 !important;} 
 
 .bg-flow-0{background-color:#648A8D !important;}
 .bg-flow-1{background-color:#4AC8BE !important;}
 .bg-flow-2{background-color:#409CDE !important;}
 .bg-flow-3{background-color:#C0DB38 !important;}
 .bg-flow-4{background-color:#FF5722 !important;}
 
 .color-flow-0{color:#648A8D !important;}
 .color-flow-1{color:#4AC8BE !important;}
 .color-flow-2{color:#409CDE !important;}
 .color-flow-3{color:#C0DB38 !important;}
 .color-flow-4{color:#FF5722 !important;}
 
 .layui-bg-0{background-color:#648A8D !important;}
 .layui-bg-1{background-color:#4AC8BE !important;}
 .layui-bg-2{background-color:#409CDE !important;}
 .layui-bg-3{background-color:#C0DB38 !important;}
 .layui-bg-4{background-color:#4DCE58 !important;}
 .layui-bg-5{background-color:#FEC939 !important;}
 .layui-bg-6{background-color:#8838DA !important;}
 .layui-bg-7{background-color:#FD6206 !important;}
 .layui-bg-8{background-color:#F03347 !important;}
 .layui-bg-9{background-color:#A38B82 !important;}
 
 .span-color-0{color:#648A8D !important;}
 .span-color-1{color:#4AC8BE !important;}
 .span-color-2{color:#409CDE !important;}
 .span-color-3{color:#C0DB38 !important;}
 .span-color-4{color:#4DCE58 !important;}
 .span-color-5{color:#FEC939 !important;}
 .span-color-6{color:#8838DA !important;}
 .span-color-7{color:#FD6206 !important;}
 .span-color-8{color:#F03347 !important;}
 .span-color-9{color:#A38B82 !important;}
 
 /*框架布局*/
.layui-layout-admin .layui-header{height:50px; padding-left:60px;background: #fff; box-shadow: inset 0 -1px 0 0 #e5ecf0; z-index:1686}
.layui-layout-admin .layui-side{width:60px; top:0; z-index:1688;background-color: #222b45; color: #fff;} 
.layui-layout-admin .layui-body{left:60px; top:50px; height:calc(100% - 50px); padding-bottom:0;}
.layui-layout-admin .layui-footer{left:60px;}

/*头部区域*/
.header-breadcrumb.layui-layout-left{left:80px;}
.header-breadcrumb{line-height:49px;}
.layui-layout-right{padding: 0;}
.layui-layout-right .layui-nav-item {border-left: 1px solid #e5ecf0; position: relative;display: inline-block;}
.layui-layout-right .layui-nav-item a{padding:0 12px; line-height: 49px; height: 49px; display: inline-block;color:#333;vertical-align: middle;
    *display: inline;
    *zoom: 1;
}
.layui-layout-right .layui-nav-item i{font-size:20px}
.layui-layout-right .layui-nav-bar {background-color: #fff;}
.layui-login-img{width:36px; height:36px; border-radius:50%}
.layui-layout-right .msg-num {height: 18px;position: absolute;top: 3px; margin-left:-5px; left: 50%;}
.layui-layout-right .msg-num span {min-width: 18px; height: 18px; margin: 0; padding: 0 5px; display: inline-block; font-size: 11px;line-height: 18px;text-align: center; background-color: #FF5722; color: #fff;border-radius: 12px; cursor: pointer;}
/*左侧菜单*/
.side-memu{align-items: stretch;display: flex; flex-flow: column nowrap; justify-content: space-between; min-width: 0;height:100%; overflow:hidden; position: relative;}
.side-memu .item {align-items: center; cursor: pointer;display: flex; flex-direction: column; height: 66px; justify-content: center; position: relative; text-align: center;}
.side-memu .item>*{ position: relative;}
.side-memu a {color: #D2E2FE; text-decoration: none;}
.side-memu .item.logo {width: 56px; height: 50px; text-align:center;}
.side-memu .item.logo .gg-logo { height: 36px; width: 36px;}
.side-memu .item.logo .gg-logo img {height: 36px; width: 36px; border-radius:50%}
.side-memu .item:hover{background-color:#333E5C}
.side-memu .item.active { color: #fff; background-color:#4285F4}
.side-memu .item .iconfont {font-size: 22px; margin: 0;}
.side-memu .item .text {font-size:12px; padding-top:5px; line-height: 1.5;}
 
/*内容区域*/
.main-content{position: relative; padding:0; height:100%; box-sizing: border-box;}
.table-content{background-color:#F5F8FA; padding:12px;height:100%; box-sizing: border-box;}
.card-content{padding:10px; background-color:#F5F8FA}

.sub-menu{position:relative;}
.sub-menu .line {right:0; border-right: 1px solid #e5ecf0; bottom: 0; height: 100%; position: absolute;top: 0; transition: border-color .2s ease 0s; width: 0;}

.table-title {font-size: 18px;font-weight: 800;padding: 16px 16px 0;}
.h3-title{font-size:18px; height:39px; font-weight:800}
.body-form-btn{padding:10px 0;}

.sub-menu{overflow: hidden; position: absolute;height:100%; background-color:#fff; top:0;left:0;}
.sub-menu-content{overflow-x: hidden; position: relative;z-index: 2;}
.sub-menu-content ul{padding:0 16px; line-height:2.2}
.sub-menu-content li.sub-menu-title{margin-top:10px;}
.sub-menu-content li.sub-menu-title i{font-size:19px;}
.sub-menu-content li.sub-menu-title span{padding-left:12px; font-size:15px;}
.sub-menu-content li.sub-menu-li a{padding-left:32px; font-size:14px;}
.sub-menu-content li.sub-menu-li.active a{color:#4285F4;}
.menu-bar{right: 0;height: 100%; position: absolute;}
.menu-bar .menu-bar-content { height: calc(100% - 50px);overflow: hidden;position: fixed;top: 50px; z-index: 3;margin-left: -10px;width: 20px;}
.menu-bar .menu-bar-content .line { left: 50%; border-right: 1px solid #e5ecf0; bottom: 0; height: 100%; position: absolute; top: 0;transition: border-color .2s ease 0s; width: 0;}

.main-page-content{background-color:#fff; position:relative; height:100%; margin-left:200px; box-sizing: border-box;}
.main-page-content .layui-form.layui-border-box.layui-table-view{border-top:none;}
.main-bg-content{background-color:#fafafa; position:relative; height:100%; margin-left:200px; padding:16px; box-sizing: border-box;}

.main-content .layui-form-bar{padding:12px;}
.table-content .layui-form-bar{padding:12px; background-color:#fff;}
.table-content .layui-table-page{background-color:#fff;border-bottom:1px solid #eee;}


.md-content-content{font-size:14px; line-height:1.6;}
.md-content-content code, .md-content-content code {padding:2px; border-radius:2px; font-size:14px; font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;}
.md-content-content h1,.md-content-content h2,.md-content-content h3,.md-content-content h4,.md-content-content h5{padding:12px 0}
.md-content-content p{padding:6px 0}
.md-content-content ul,.md-content-content ol{padding-left: 2em;}
.md-content-content ul li {list-style: initial;}
.md-content-content ol li {list-style: decimal;}
.md-content-content pre{border: 1px solid #f6f6f6; font-size:14px; background: #f6f6f6; padding: 10px; border-radius:3px;}
.md-content-content pre code{padding:0}
/*dashboard*/
.dashboard-num table {width: 100%;}
.dashboard-num td {text-align: center;padding: 16px 0;width: 25%;border-left: 1px solid #eee}
.dashboard-num td:nth-child(1) {border-left: none}
.dashboard-num .num-title {padding-bottom: 10px;color: #999;}
.dashboard-num .num-num {font-size: 18px;font-weight: 300;color: #009688;}
.dashboard-total .layui-card-tips{text-align:center;color: #999;}
.dashboard-total .layui-card-value{text-align:center;font-size: 16px;font-weight: 300;color: #009688;}
.dashboard-logs .layui-timeline-item {padding-bottom: 1px;}
 
 /*右侧页面*/
.express-box { position: absolute; z-index:9999; height:100%; right: -100%; top:0;background-color: #fff;}
.express-box article{width:100%; height:100%; overflow:auto;}
.express-mask{ display: none; position: fixed; top: 0; left: 0; z-index: 9998; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); }
.express-close{position: absolute;width:48px;height:44px;line-height:44px;text-align:center; left: -50px;right:0; top: 50px;background-color:#FF5722;color:#fff;border-radius:6px 0 0 6px; cursor:pointer; border:2px solid #fff; border-right:none}
.page-content{background-color:#fff;}
.md-content{min-height:200px;}

/*评论*/
.comment-input .comment-image{width:50px; height:50px; border-radius:50%}
.comment-item .comment-avatar{width:50px; float:left}
.comment-item .comment-image{width:36px; height:36px; border-radius:50%}
.comment-item .comment-body{margin-left:50px;}
.comment-item .comment-content blockquote{border-left:3px solid #eee; padding:4px 8px;}
.comment-item .comment-actions a{color:#8c95a8; cursor:pointer;}
.comment-item .comment-actions a:hover{color:#3582fb;}
.comment-meta span{font-size:12px;}

.log-item i{font-weight:800; color:#182b50}
.log-content b{margin:0 4px; color:#182b50}

.hover-edit i{margin-left:4px; font-weight:800; cursor:pointer; opacity:0}
.hover-edit.hover-on i{opacity:1}

/*知识库*/
.knowledge-tab .layui-this{background-color:#fff}
.knowledge-list .layui-card{cursor: pointer; transition: box-shadow .3s,border-color .3s;}
.knowledge-list .layui-card:hover {border-color: transparent; box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);}
.knowledge-list .card-body{height:100px; padding: 15px;}
.knowledge-list .meta-title{font-size: 16px; height:33px}
.knowledge-list .meta-desc{font-size: 14px; line-height: 1.6; color: #666;}
.knowledge-list .meta-desc a{color: #666;}

.knowledge-list .card-actions{padding: 12px 0; border-top: 1px solid #f0f0f0;}
.knowledge-list .card-actions li{width: 24%; height:24px; line-height: 24px; font-size: 16px; display:inline-block; text-align: center; box-sizing: border-box; border-right: 1px solid #f0f0f0;color:#8c95a8}
.knowledge-list .card-actions li:last-child{border-right: none;}
.knowledge-list .card-actions li a{font-size:14px;color:#8c95a8}
.knowledge-list .card-actions li a:hover{color:#3582fb}
.knowledge-list .card-actions li i{font-size:16px; margin-right:4px}

/*特殊css*/
.checkbox16 .layui-form-checkbox span{font-size:15px;font-weight:800;}
.layui-checkbox-disabled span,.layui-checkbox-disabled[lay-skin=primary] span{color: #666666!important;}
.layui-tab-big{margin:0}
.layui-tab-big .layui-tab-title{height:50px;}
.layui-tab-big .layui-tab-title li{line-height:50px;}
.layui-tab-big .layui-tab-title .layui-this:after{height:51px;}
.layui-tab-big li a{padding:0 10px; font-size:15px;}
.is_open_son2{display:none;}
/*图标*/
@font-face {
  font-family: "iconfont"; /* Project id 2936988 */
  src: url('/static/layui/font/extend/iconfont.woff2?t=1636884517050') format('woff2'),
       url('/static/layui/font/extend/iconfont.woff?t=1636884517050') format('woff'),
       url('/static/layui/font/extend/iconfont.ttf?t=1636884517050') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xueshengyidong:before {
  content: "\e6e9";
}

.icon-baokao:before {
  content: "\e6ea";
}

.icon-chengji:before {
  content: "\e6eb";
}

.icon-yuejuan:before {
  content: "\e6ec";
}

.icon-kaoheshezhi:before {
  content: "\e6ed";
}

.icon-lunwenguanli:before {
  content: "\e6ee";
}

.icon-shenbao:before {
  content: "\e6ef";
}

.icon-kecheng:before {
  content: "\e6f0";
}

.icon-tiku:before {
  content: "\e6f1";
}

.icon-jiaowushezhi:before {
  content: "\e6f2";
}

.icon-zidingyishezhi:before {
  content: "\e6f3";
}

.icon-chaojitongji:before {
  content: "\e6f4";
}

.icon-zhaoshengtongji:before {
  content: "\e6f5";
}

.icon-tuiguangtongji:before {
  content: "\e6f6";
}

.icon-xuexitongji:before {
  content: "\e6f7";
}

.icon-diqushujutongji:before {
  content: "\e6f8";
}

.icon-shujudaoru:before {
  content: "\e6f9";
}

.icon-chengkaoguanli:before {
  content: "\e6fb";
}

.icon-yuanchengguanli:before {
  content: "\e6fe";
}

.icon-shujiguanli:before {
  content: "\e6ff";
}

.icon-guochengxingkaohe:before {
  content: "\e700";
}

.icon-xuefenrending:before {
  content: "\e701";
}

.icon-kechengdingdan:before {
  content: "\e702";
}

.icon-wentifankui:before {
  content: "\e703";
}

.icon-zichan:before {
  content: "\e704";
}

.icon-KPIguanli:before {
  content: "\e705";
}

.icon-xiangmuguanli:before {
  content: "\e706";
}

.icon-weixingongzhonghao:before {
  content: "\e707";
}

.icon-anquanshezhi:before {
  content: "\e708";
}

.icon-fuwuzhongxin:before {
  content: "\e709";
}

.icon-qiyefuwu:before {
  content: "\e70a";
}

.icon-wangkefuwu:before {
  content: "\e70b";
}

.icon-shoufeiguanli:before {
  content: "\e70c";
}

.icon-quanxianshezhi:before {
  content: "\e70d";
}

.icon-jiaowutongji:before {
  content: "\e70f";
}

.icon-jiaoxuetongji:before {
  content: "\e710";
}

.icon-shoufeitongji:before {
  content: "\e711";
}

.icon-fuwutongji:before {
  content: "\e713";
}

.icon-tongzhitongji:before {
  content: "\e714";
}

.icon-kaohetongji:before {
  content: "\e715";
}

.icon-yonghuhuoyuedu:before {
  content: "\e716";
}

.icon-xueshengbaoming:before {
  content: "\e717";
}

.icon-xueshengluqu:before {
  content: "\e718";
}

.icon-xueshengzhuce:before {
  content: "\e719";
}

.icon-zaijixuesheng:before {
  content: "\e71a";
}

.icon-huamingce:before {
  content: "\e71b";
}

.icon-fenleiguanli:before {
  content: "\e71c";
}

.icon-fuwuliebiao:before {
  content: "\e71d";
}

.icon-fenleiliebiao:before {
  content: "\e71e";
}

.icon-tongzhiliebiao:before {
  content: "\e71f";
}

.icon-jiaoxuejihua:before {
  content: "\e720";
}

.icon-jiaoxueanpai:before {
  content: "\e721";
}

.icon-chengjiguanli:before {
  content: "\e722";
}

.icon-tupianguanli:before {
  content: "\e723";
}

.icon-kaoshijihua:before {
  content: "\e724";
}

.icon-kaoshipeizhi:before {
  content: "\e725";
}

.icon-xuexizhongxinguanli:before {
  content: "\e726";
}

.icon-kaoheguanli:before {
  content: "\e728";
}

.icon-jiaoshiguanli:before {
  content: "\e729";
}

.icon-wangkeguanli:before {
  content: "\e72a";
}

.icon-bulujiesuan:before {
  content: "\e72b";
}

.icon-biyeguanli:before {
  content: "\e72c";
}

.icon-kaohezhibiao:before {
  content: "\e72d";
}

.icon-qiyeguanli:before {
  content: "\e77e";
}

.icon-chubuguanli:before {
  content: "\e77f";
}

.icon-hujiaobaobiao:before {
  content: "\e780";
}

.icon-saomiaodianjing:before {
  content: "\e781";
}

.icon-jiezhang:before {
  content: "\e782";
}

.icon-xiaoshoubaobiao:before {
  content: "\e783";
}

.icon-pingzheng:before {
  content: "\e784";
}

.icon-hetongyidong:before {
  content: "\e785";
}

.icon-xiaoshoupin:before {
  content: "\e787";
}

.icon-xueshuguanli:before {
  content: "\e788";
}

.icon-yihaopin:before {
  content: "\e789";
}

.icon-renwuguanli:before {
  content: "\e78a";
}

.icon-dianshang:before {
  content: "\e78b";
}

.icon-mingpianbaobiao_1:before {
  content: "\e78c";
}

.icon-gudingzichan:before {
  content: "\e78d";
}

.icon-dongtaiguanli:before {
  content: "\e78e";
}

.icon-jichupeizhi:before {
  content: "\e78f";
}

.icon-hujiaotongji:before {
  content: "\e790";
}

.icon-xiaoshoubaobiao_1:before {
  content: "\e791";
}

.icon-dashuju:before {
  content: "\e792";
}

.icon-huodongguanli:before {
  content: "\e793";
}

.icon-hujiaoshezhi:before {
  content: "\e794";
}

.icon-fenxiaoshichang:before {
  content: "\e795";
}

.icon-chengjitongji:before {
  content: "\e796";
}

.icon-tuiguangshezhi:before {
  content: "\e797";
}

.icon-kechengzhongxin:before {
  content: "\e798";
}

.icon-hetongshezhi:before {
  content: "\e799";
}

.icon-kechengbaoguanli:before {
  content: "\e79a";
}

.icon-yonghuguanli:before {
  content: "\e79b";
}

.icon-yonghuhuaxiang:before {
  content: "\e79c";
}

.icon-zhanghaoguanli:before {
  content: "\e79d";
}

.icon-SEMguanli:before {
  content: "\e79e";
}

.icon-yusuan:before {
  content: "\e79f";
}

.icon-mingpianbaobiao:before {
  content: "\e7a0";
}

.icon-dingdanguanli:before {
  content: "\e7a1";
}

.icon-tuiguangguanli:before {
  content: "\e7a2";
}

.icon-zhuantiguanli:before {
  content: "\e7a3";
}

.icon-xinxiliu:before {
  content: "\e7a4";
}

.icon-xiaoshoushezhi:before {
  content: "\e7a5";
}

.icon-sucaiguanli:before {
  content: "\e7a9";
}

.icon-xueshengdaoru:before {
  content: "\e7aa";
}

.icon-shangpinguanli:before {
  content: "\e7ab";
}

.icon-paikeguanli:before {
  content: "\e7ac";
}

.icon-xinxidaoru:before {
  content: "\e7ad";
}

.icon-shoufeipeizhi:before {
  content: "\e7ae";
}

.icon-yonghuquanxian:before {
  content: "\e7af";
}

.icon-zaijixueshengguanli:before {
  content: "\e7b0";
}

.icon-xuehaoguanli:before {
  content: "\e7b1";
}

.icon-kechengziyuanguanli:before {
  content: "\e7b2";
}

.icon-mianshoujiaoxueanpai:before {
  content: "\e7b3";
}

.icon-zhangfang:before {
  content: "\e7b4";
}

.icon-kaikeguanli:before {
  content: "\e7b5";
}

.icon-biyetongji:before {
  content: "\e7b6";
}

.icon-zhaoshengzhunbei:before {
  content: "\e7b8";
}

.icon-paikeshezhi:before {
  content: "\e7b9";
}

.icon-banjiguanli:before {
  content: "\e7ba";
}

.icon-jingpinketang:before {
  content: "\e7bb";
}

.icon-yuangongtidian:before {
  content: "\e7bc";
}

.icon-kaoshianpai:before {
  content: "\e7bd";
}

.icon-wangluojiaoxueanpai:before {
  content: "\e7bf";
}

.icon-ruxuechengji:before {
  content: "\e7c3";
}

.icon-mianshoujiaoxue:before {
  content: "\e7c6";
}

.icon-jiaoshijiaoshiguanli:before {
  content: "\e7c7";
}

.icon-luquguanli:before {
  content: "\e7c8";
}

.icon-luquchengji:before {
  content: "\e7c9";
}

.icon-ziyuan:before {
  content: "\e7ca";
}

.icon-kejian:before {
  content: "\e7cc";
}

.icon-waibukejian:before {
  content: "\e7cd";
}

.icon-rizhiguanli:before {
  content: "\e7ce";
}

.icon-mobanguanli:before {
  content: "\e7cf";
}

.icon-xuelirenzheng:before {
  content: "\e7d1";
}

.icon-yiyichuli:before {
  content: "\e7d2";
}

.icon-lunwenshenbao:before {
  content: "\e7d3";
}

.icon-lunwenshezhi:before {
  content: "\e7d4";
}

.icon-jiaoxuedianshezhi:before {
  content: "\e7d5";
}

.icon-buluchenjiang:before {
  content: "\e7d6";
}

.icon-mokuaishezhi:before {
  content: "\e7d7";
}

.icon-ziliaoguanli:before {
  content: "\e7d8";
}

.icon-jituanguanli:before {
  content: "\e7d9";
}

.icon-yingyongguanli:before {
  content: "\e7da";
}

.icon-guanwangshijuan:before {
  content: "\e7db";
}

.icon-wodewangke:before {
  content: "\e7dc";
}

.icon-jiaobenguanli:before {
  content: "\e7dd";
}

.icon-zhuanyeguanliyuan:before {
  content: "\e7de";
}

.icon-xueshengchengji:before {
  content: "\e7df";
}

.icon-fuwuguanli:before {
  content: "\e7e2";
}

.icon-daijinquan:before {
  content: "\e7e3";
}

.icon-hujiaozhongxin:before {
  content: "\e7e4";
}

.icon-yinjinshoufei:before {
  content: "\e7e5";
}

.icon-yingjiaoqingdan:before {
  content: "\e7e6";
}

.icon-duizhangdan:before {
  content: "\e7e7";
}

.icon-shangjiguanli:before {
  content: "\e7e8";
}

.icon-qiyehuihuacundang:before {
  content: "\e7e9";
}

.icon-yonghushezhi:before {
  content: "\e7ea";
}

.icon-xiaoxishezhi:before {
  content: "\e7ec";
}

.icon-yingxiaoshezhi:before {
  content: "\e7ed";
}

.icon-fuwushichang:before {
  content: "\e7ee";
}

.icon-sucaiziyuan:before {
  content: "\e7ef";
}

.icon-yingxiaowanfa:before {
  content: "\e7f0";
}

.icon-tuiguang:before {
  content: "\e7f1";
}

.icon-yonghuliebiao:before {
  content: "\e7f2";
}

.icon-ziyuanguanli:before {
  content: "\e692";
}

.icon-kechengguanli:before {
  content: "\e693";
}

.icon-kechengbao:before {
  content: "\e694";
}

.icon-tikuguanli:before {
  content: "\e695";
}

.icon-wangkeshichang:before {
  content: "\e696";
}

.icon-gongdan:before {
  content: "\e697";
}

.icon-fangkeguanli:before {
  content: "\e698";
}

.icon-xiansuoguanli:before {
  content: "\e699";
}

.icon-kehuguanli:before {
  content: "\e69a";
}

.icon-jituankehu:before {
  content: "\e69b";
}

.icon-genjinjilu:before {
  content: "\e69c";
}

.icon-hujiaoguanli:before {
  content: "\e69d";
}

.icon-gongzuotai:before {
  content: "\e69e";
}

.icon-shujubaobiao:before {
  content: "\e69f";
}

.icon-fangkebaobiao:before {
  content: "\e6a0";
}

.icon-zhangbuguanli:before {
  content: "\e6a1";
}

.icon-zhangbuguanli_zi:before {
  content: "\e6a2";
}

.icon-zhangbuguanli_zixitong_A:before {
  content: "\e6a3";
}

.icon-hetongguanli:before {
  content: "\e6a4";
}

.icon-yunyingzheguanli:before {
  content: "\e6a5";
}

.icon-zhaopinguanli:before {
  content: "\e6a6";
}

.icon-gongziguanli:before {
  content: "\e6a7";
}

.icon-wodeshenpi:before {
  content: "\e6a8";
}

.icon-biaozhunmobanshezhi:before {
  content: "\e6a9";
}

.icon-jichushezhi:before {
  content: "\e6aa";
}

.icon-caiwushezhi:before {
  content: "\e6ab";
}

.icon-chanpinshezhi:before {
  content: "\e6ac";
}

.icon-shenpishezhi:before {
  content: "\e6ad";
}

.icon-mubiaoguanli:before {
  content: "\e6ae";
}

.icon-zhandianshezhi:before {
  content: "\e6af";
}

.icon-renshishezhi:before {
  content: "\e6b0";
}

.icon-CRMshezhi:before {
  content: "\e6b1";
}

.icon-mingpianshezhi:before {
  content: "\e6b2";
}

.icon-wangxiaoshezhi:before {
  content: "\e6b3";
}

.icon-wodedianping:before {
  content: "\e6b4";
}

.icon-wodexuesheng:before {
  content: "\e6b5";
}

.icon-lianxijilu:before {
  content: "\e6b8";
}

.icon-tousutiwen:before {
  content: "\e6b9";
}

.icon-peixunjihua:before {
  content: "\e6ba";
}

.icon-feiyongchaxun:before {
  content: "\e6bb";
}

.icon-xueshengjiaofei:before {
  content: "\e6bc";
}

.icon-jizhang:before {
  content: "\e6bd";
}

.icon-chaxun:before {
  content: "\e6be";
}

.icon-chazhang:before {
  content: "\e6bf";
}

.icon-baobiao:before {
  content: "\e6c0";
}

.icon-shezhi:before {
  content: "\e6c2";
}

.icon-daqiajilu:before {
  content: "\e6ce";
}

.icon-wangluobanji:before {
  content: "\e6d3";
}

.icon-wangxiaoshezhi1:before {
  content: "\e6d6";
}

.icon-houtaishezhi:before {
  content: "\e6d8";
}

.icon-zhaoshengshezhi:before {
  content: "\e6db";
}

.icon-xiaoxizhongxin:before {
  content: "\e6df";
}

.icon-zhaoshengbaobiao:before {
  content: "\e6e1";
}

.icon-caidanguanli:before {
  content: "\e6e2";
}

.icon-jituanshezhi:before {
  content: "\e6e3";
}

.icon-shichangguanli:before {
  content: "\e6e4";
}

.icon-chuangjianxitong:before {
  content: "\e6e5";
}

.icon-gongdanguanli:before {
  content: "\e6e6";
}

.icon-duanxin:before {
  content: "\e6e7";
}

.icon-bangzhuzhongxin:before {
  content: "\e6e8";
}