{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="style"}
<link rel="stylesheet" href="{__STATIC__}/layui/plugin/dtree/dtree.css">
<link rel="stylesheet" href="{__STATIC__}/layui/plugin/dtree/font/dtreefont.css">
<link rel="stylesheet" href="{__STATIC__}/mdeditor/css/editormd.min.css?v=1.0.2">
<link rel="stylesheet" href="{__STATIC__}/mdeditor/css/editormd.preview.min.css?v=1.0.2">
{/block}
{block name="breadcrumb"}
<span class="layui-breadcrumb">
  <a href="https://www.gougucms.com/" target="_blank">勾股DEV</a>
  <a><cite>产品中心</cite></a>
</span>
{/block}
{block name="body"}
<div class="table-content p-3">
	<div class="layui-form-bar border-t border-x">
		<button class="layui-btn layui-btn-sm layui-btn-normal add-new">+ 新建产品</button>
	</div>
	<table class="layui-hide" id="test" lay-filter="test"></table>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	function init(layui){
		var table = layui.table,form = layui.form,gougu = layui.gougu;		
		
		layui.pageTable = table.render({
			elem: '#test',
			title: '产品列表',
			cellMinWidth:200,
			url: "/product/index/index", //数据接口
			page: true, //开启分页
			limit: 20,
			cols:  [[
				{field:'id', title: '产品编号',width: 80, align:'center',fixed:'left',rowspan: 2,templet:function(d){
					return 'P'+d.id;
				}}
				,{field:'status',title: '状态',align:'center',width: 60,rowspan: 2,templet:function(d){
					var html = '<span class="layui-btn layui-btn-xs bg-status-'+d.status+'">'+d.status_name+'</span>';
					return html;
				}}
				,{field:'name',title: '产品名称',rowspan: 2,templet:function(d){
					var html = '<a class="open-a" data-url="/product/index/view/id/'+d.id+'">'+d.name+'</a>';
					return html;
				}}
				,{field:'director_name',title: '产品负责人', align:'center',width: 90,rowspan: 2}
				,{field:'test_name',title: '测试负责人', align:'center',width: 90,rowspan: 2}
				,{field:'projects',title: '关联项目', align:'center',width: 90,rowspan: 2}
				,{align: 'center', title: '关联需求', colspan: 3}
				,{align: 'center', title: '关联任务', colspan: 3}
				,{align: 'center', title: '关联BUG', colspan: 3}
			], [
				{field:'requirements_a',align:'center', style:'color: #91CC75;', width:80,'title':'进行中'}
				,{field:'requirements_b',align:'center', style:'color: #FAC858;', width:80,'title':'已完成'}
				,{field:'requirements_c',align:'center', style:'color: #EE6666;', width:80,'title':'完成率'}
				,{field:'tasks_a',align:'center', style:'color: #91CC75;', width:80,'title':'进行中'}
				,{field:'tasks_b',align:'center', style:'color: #FAC858;', width:80,'title':'已完成'}
				,{field:'tasks_c',align:'center', style:'color: #EE6666;', width:80,'title':'完成率'}
				,{field:'bugs_a',align:'center', style:'color: #91CC75;', width:80,'title':'进行中'}
				,{field:'bugs_b',align:'center', style:'color: #FAC858;', width:80,'title':'已完成'}
				,{field:'bugs_c',align:'center', style:'color: #EE6666;', width:80,'title':'修复率'}
			]]
		});
		
		$('.add-new').on('click',function(){
			gougu.open('/product/index/add');
		});
	}		
</script>
<script src="{__STATIC__}/mdeditor/editormd.min.js"></script>
<script src="{__STATIC__}/mdeditor/plugins/paste.upload.img.js"></script>
{include file="../../base/view/common/layui" base='base' extend="['gougu','gouguEdit','gouguComment','employeepicker']" callback="init" /}
{/block}
<!-- /脚本 -->