{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="style"}
<link rel="stylesheet" href="{__STATIC__}/layui/plugin/dtree/dtree.css">
<link rel="stylesheet" href="{__STATIC__}/layui/plugin/dtree/font/dtreefont.css">
<link rel="stylesheet" href="{__STATIC__}/mdeditor/css/editormd.min.css?v=1.0.2">
{/block}
{block name="body"}
<div class="table-content">
	<div class="layui-form-bar border-t border-x">
		<button class="layui-btn layui-btn-sm layui-btn-normal add-new">+ 添加产品</button>
	</div>
	<table class="layui-hide" id="test" lay-filter="test"></table>
</div>

<script type="text/html" id="barDemo">
<div class="layui-btn-group"><span class="layui-btn layui-btn-xs" lay-event="del">产品详细</span><span class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">操作</span></div>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script src="{__STATIC__}/mdeditor/editormd.min.js"></script>
<script>
var markdownEditor;
function buildEditor(editormdId,editormdHeight,editormdMarkdown){
	markdownEditor = editormd(editormdId, {
		placeholder : "此处开始编写您要发布的内容...",//这里不设置则为默认的
		path : '/static/mdeditor/lib/',
		height           : editormdHeight,
		markdown         : editormdMarkdown,
		htmlDecode       : "style,script,iframe",
		watch            : false, 
		imageUpload: true,
		imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
		imageUploadURL: "/api/index/md_upload",		
		saveHTMLToTextarea : true,//保存html到textarea
		toolbarIcons : function() {
			return [
					"undo", "redo","bold", "del", "italic", "quote","h3",
					"list-ul", "list-ol", "hr","link", "reference-link", "image", "code", "table","watch"
				];
		}, 
		lang:{
			dialog:{
				preformattedText:{placeholder : "此处编写代码..."},
				codeBlock:{placeholder : "此处编写代码...."}
			}
		},
		onfullscreen : function() {
			this.editor.css("z-index", 120);
		},
		onfullscreenExit : function() {
			this.editor.css({
				zIndex : 10,
				border : "none",
			});			
			this.resize();
		}
	})
}


	var tableIns = null;
	function init(layui){
		var table = layui.table
		  ,form = layui.form
		  ,gougu = layui.gougu;
		
		
		tableIns = table.render({
			elem: '#test',
			title: '产品列表',
			cellMinWidth:200,
			url: "/product/index/index", //数据接口
			cols:  [[
				{field:'id', title: '产品编号',width: 90, align:'center',fixed:'left',rowspan: 2,templet:function(d){
					return 'P'+d.id;
				}}
				,{field:'status',title: '产品状态',align:'center',width: 90,rowspan: 2,templet:function(d){
					var html = '<span class="layui-btn layui-btn-xs bg-status-'+d.status+'">'+d.status_name+'</span>';
					return html;
				}}
				,{field:'name',title: '产品名称',rowspan: 2}
				,{field:'director_name',title: '产品负责人', align:'center',width: 90,rowspan: 2}
				,{field:'test_name',title: '测试负责人', align:'center',width: 90,rowspan: 2}
				,{field:'projects',title: '关联项目', align:'center',width: 90,rowspan: 2}
				,{align: 'center', title: '关联需求', colspan: 3}
				,{align: 'center', title: '关联任务', colspan: 3}
				,{align: 'center', title: '关联BUG', colspan: 3}

				,{fixed: 'right',title: '操作',align: 'center',width: 120,rowspan: 2,toolbar: '#barDemo',}
			], [
				{field:'requirements_a',align:'center', width:80,'title':'进行中'}
				,{field:'requirements_b',align:'center', width:80,'title':'已完成'}
				,{field:'requirements_c',align:'center', width:80,'title':'完成率'}
				,{field:'tasks_a',align:'center', width:80,'title':'进行中'}
				,{field:'tasks_b',align:'center', width:80,'title':'已完成'}
				,{field:'tasks_c',align:'center', width:80,'title':'完成率'}
				,{field:'bugs_a',align:'center', width:80,'title':'进行中'}
				,{field:'bugs_b',align:'center', width:80,'title':'已完成'}
				,{field:'bugs_c',align:'center', width:80,'title':'修复率'}
			]]
		});
		
		$('.add-new').on('click',function(){
			gougu.open('/product/index/add');
		});
		
		//监听行工具事件
		table.on('tool(test)', function(obj) {
			var data = obj.data;
			if (obj.event === 'view') {
				gougu.open('/product/index/view?id='+data.id);
				return;
			}
		});
	}		
</script>
{include file="../../base/view/common/layui" base='base' extend="['gougu','employeepicker','gouguEdit','gouguComment']" callback="init" /}
{/block}
<!-- /脚本 -->