	<div class="sub-menu" style="width: 200px;">
		<div class="sub-menu-content" style="width: 200px;">
			<ul>
				<li class="sub-menu-title {eq name='$params.action' value='inbox'} active{/eq}"><a href="/home/message/inbox"><i class="iconfont icon-yiyichuli"></i><span class="text">收件箱</span></a></li>
				<li class="sub-menu-title {eq name='$params.action' value='sendbox'} active{/eq}"><a href="/home/message/sendbox"><i class="iconfont icon-tuiguangshezhi"></i><span class="text">发件箱</span></a></li>
				<li class="sub-menu-title {eq name='$params.action' value='draft'} active{/eq}"><a href="/home/message/draft"><i class="iconfont icon-lunwenguanli"></i><span class="text">草稿箱</span></a></li>
				<li class="sub-menu-title {eq name='$params.action' value='rubbish'} active{/eq}"><a href="/home/message/rubbish"><i class="iconfont icon-tiku"></i><span class="text">垃圾箱</span></a></li>
			</ul>
		</div>
		<div class="menu-bar">
			<div class="menu-bar-content">
				<div class="line"></div>
			</div>
		</div>
	</div>